---
import clsx from "clsx";
import styles from "./WalkingPath.module.scss";
import { Img } from "astro-imagetools/components";
---

<div class="h-screen absolute top-0 left-0 overflow-hidden  z-0">
    <Img
            breakpoints={{ count: 1 }}
            placeholder="dominantColor"
            objectFit="cover"
            attributes={{ img: { class: clsx("object-cover transition-all !h-full", styles.WalkingPath)}}}
            alt="Droga"
            src="/src/images/droga.jpg"
    />
</div>