---
import Layout from "../layouts/Layout.astro";
import { Offer } from "../components/Offer/offer";
---
<Layout title="Oferta">
    <div class="h-full flex items-center">
        <Offer client:load />
    </div>
</Layout>