---
import { Content } from '../content/about-gestalt.mdx';
import { Img } from "astro-imagetools/components";
---

<div class="h-full flex items-center flex-col">
    <div class="prose flex flex-col">
        <h1 class="underline decoration-primary-500 w-fit font-artistic text-5xl">Moje podejście terapeutyczne</h1>
        <div>
            <Img
                    breakpoints={{ count: 1 }}
                    placeholder="blurred"
                    objectFit="cover"
                    attributes={{ img: { class: ` !w-full rounded-xl mb-0`}}}
                    alt="zdjecie"
                    src="/src/images/0020.jpg"
            />
        </div>
        <Content />
    </div>
</div>