---
import { Content } from '../content/about-me.mdx'
import { Img } from "astro-imagetools/components";
import psychoterapeuta from '../images/psychoterapeuta.png';
---


<div class="flex items-center justify-center flex-col relative w-full">
    <div class="prose flex h-full flex-col w-full">
        <h1>O mnie</h1>
        <Img
                breakpoints={{ count: 1 }}
                placeholder="blurred"
                objectFit="cover"
                alt="zdjecie"
                attributes={{ img: { class: ` !w-48 rounded-xl m-0`}}}
                src="/src/images/0010.jpg"
        />
        <Content />
    </div>
</div>