<div class="bg-white w-full z-10 uppercase h-full px-4">
    <div class="h-full flex items-center gap-8 text-gray-400">
        <span>Copyright @ 2024 Kamil Kędzior - Psychoterapia - Wszystkie prawa zastrzezone</span>
        <span><a href="tel:+48708708708">+48 708 708 708</a></span>
    </div>
</div>