---
import { commonContent } from "../common-content";
---

<div class="bg-primary-600/90 text-white w-full z-10 h-full px-4 flex justify-center">
    <div class="h-full w-full flex flex-col justify-center items-center gap-2 font-primary p-4 font-[400]">
        <span>Copyright @ 2024</span>
        <span>Kamil Kędzior - Psychoterapia</span>
        <span><a href={commonContent.phoneNumber.link}>{commonContent.phoneNumber.value}</a></span>
    </div>
</div>