<div class="bg-primary-500 text-white w-full z-10 h-full px-4 flex justify-center">
    <div class="h-full w-full flex flex-col justify-center items-center gap-2 text-sm font-primary p-4 font-[400]">
        <span>Copyright @ 2024</span>
        <span>Kamil Kędzior - Psychoterapia</span>
        <span><a href="tel:+48708708708">+48 708 708 708</a></span>
    </div>
</div>