<div class="grow w-full">
    <a href="/" class="whitespace-nowrap font-artistic flex border-2 rounded p-2 w-fit flex-col items-center justify-center">
        <span class="text-3xl">W drodze do siebie</span>
        <span class="text-sm">Kamil Kędzior</span>
    </a>
</div>
