---
import Tag from './Tag.astro';
const { price, label, time } = Astro.props;
import { ClockIcon } from '@radix-ui/react-icons';
---

<div class="flex flex-col items-center gap-4 justify-between w-full rounded border">
    <div class="flex justify-between p-2 whitespace-nowrap flex-wrap w-full">
        <span>{label}:</span>
        <div class="flex gap-2 justify-between">
            <strong class="flex gap-1 items-center"><ClockIcon />{time} min</strong> - <strong>{price} zł</strong>
        </div>
    </div>
</div>