---
import OfferItem from './OfferItem.astro';
const offers = await Astro.glob('../content/offer-*.mdx');
import { Img } from "astro-imagetools/components";
import Tag from "./Tag.astro";
---

<div class="flex gap-3 flex-wrap">
    <div class="prose">
        <h1 class="underline decoration-primary-500 w-fit font-artistic text-5xl">
            Oferta
        </h1>
        <h2>
            Oferuję wsparcie w pracy z:
        </h2>
        <ul>
            <li>Rozwojem osobistym</li>
            <li>Przemocą w rodzinie</li>
            <li>Lękiem</li>
            <li>Strachem</li>
            <li>Stratą, żałobą</li>
            <li>Traumą</li>
            <li>Trudnościami w relacjach</li>
            <li>Poradnictwem dla par</li>
            <li>Kryzysem w rodzinie</li>
            <li>Myślami samobójczymi</li>
        </ul>
        <div class="flex flex-col gap-3">
            <OfferItem label="Poradnictwo dla par" time="60" price="200" />
            <OfferItem label="Sesja konsultacyjna" time="60" price="180" />
            <OfferItem label="Sesja terapeutyczna" time="50" price="170" />
        </div>
        <Img
                breakpoints={{ count: 1 }}
                placeholder="blurred"
                objectFit="cover"
                attributes={{ img: { class: ` !w-full rounded-xl mb-0`}}}
                alt="zdjecie"
                src="/src/images/0016.jpg"
        />
    </div>
</div>