---
// Tag.astro
const { label } = Astro.props;
---

<div class="rounded p-1 font-bold w-fit border border-gray-300 flex gap-1 items-center">
    <!--{icon}-->
    <span class="whitespace-nowrap">{label}</span>
</div>